.interactive-rating {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
    padding: 2em;
    max-width: 400px;
    background: rgb(31, 39, 49);
    background: radial-gradient(
        circle,
        rgba(31, 39, 49, 0.9654236694677871) 0%,
        rgba(31, 39, 49, 1) 78%
    );
    box-shadow: 10px 10px 10px 30px 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset 10px 10px 70px 10px rgba(0, 0, 0, 0.4);

    &__star {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-image: url(../images/icon-star.svg);
        background-color: rgba(255, 255, 255, 0.1);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 18px;
    }

    &__title {
        margin: 1.2em 0 0.5em 0;
        color: white;
        font-weight: bold;
        font-size: 1.6em;
    }
    &__description {
        color: white;
        opacity: 0.5;
        font-size: 1.1em;
        line-height: 1.5em;
        margin-bottom: 2em;
    }
    &__rating-container {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    &__rating {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgb(120, 120, 120);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__button {
        margin-top: 1em;
        width: 100%;
        padding: 1em;
        background-color: #fd7612;
        border-radius: 3em;
        color: white;
        text-transform: uppercase;
        font-family: inherit;
        letter-spacing: 1px;
        font-weight: bold;
    }
}
