@use "../../variables/breakpoints";

.article-preview {
    border-radius: 1.5em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 400px;
    box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.1);
}
